body  
{  
    margin: 0;  
    padding: 0;  
    font-family: sans-serif;  
}  
section{
    padding: 0 100px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -10px;
}
.box{
    position: relative;
    max-width: 300px;
    padding: 50px;
    background: rgba(255, 255, 255, .5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.box h2{
    margin: 0 0 20px;
    padding: 0;
    font-size: 40px;
    text-transform: capitalize;
    color: rgb(97, 10, 10);
    font-family: 'Dancing script', cursive;
}
.box h3{
    margin: 0;
    padding: 0;
    font-size: 25px;
    text-transform: capitalize;
    color: black;
    font-family: 'Dancing script', cursive;
}
.box p{
    margin: 0;
    padding: 0;
    font-size: 15px;
    
}
.signin{  
        width: 350px;  
        overflow: hidden;  
        margin: 90px;
        margin-bottom: 15px;  
        padding: 80px;  
        background: rgba(45, 46, 44, 0.5); 
        
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #000000;  
    padding: 20px;  
}  
label{  
    color: #000000;  
    font-size: 17px; 
    
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: rgb(255, 255, 255);
    background-color: blue;  
  
  
}  
#icon{
    width: 20px;  
    height: 23px;
    position: relative;
    margin-bottom: -7px;
    opacity: .7;
}
#icon1{
    width: 30px;  
    height: 35px;
    padding: 0;
    margin-bottom: -13px;
    color: rgb(54, 73, 72, .3);
}
span{  
    color: rgb(10, 10, 10);  
    font-size: 17px;  
}  
a{  
    float: none;  
    color: rgb(0, 5, 77);  
}